/*
 * Metro-tiles:  Css3 windows metro tiles
 * Author     :  Tim Holman
 * @Author    :  @twholman
 * -- None of this css is required, its just for the demo ;)
 */

 body {
 	margin: 0px;
 	background:#eee url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAHElEQVQIHWP48+fP9+/f////zwCkgBwQC4ghAACODRqkCkEF0QAAAABJRU5ErkJggg==) repeat;
 	font-family:'Lato', Helvetica, sans-serif;
 	line-height: 28px;
	font-size: 16px;
	color: #333;
	font-weight: lighter;
 }

 #contents {
 	float: left;
 	padding-top: 25px;
 	padding-bottom: 25px;
 	padding-left: 35px;
 	padding-right: 35px;

	width: 720px;
	box-shadow: 0px 0px 20px -8px #999;
	border-left: 8px solid greenYellow;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	left: 50%;
	position: relative;
	margin-left: -360px;
 }

 header {
 	margin-bottom: 30px;
 	margin-top: 5px;
 }

 h1 {
 	font-weight: normal;
 	text-align: center;
 }

 p a {
 	font-weight: normal;
 	text-decoration: none;
 	color: #111;
 	border-bottom: 1px dotted #111;
 }

 p a:hover {
 	color: deepPink;
 	border-bottom: 1px dotted deepPink;
 }

 #downloads {
 	text-align: center;
 	float: left;
 }

 #downloads a {
 	background-color: deepPink;
 	
 	width: 140px;
 	height: 50px;
 	display: inline-block;

 }